* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-position: top right;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.contact {
  display: flex;
}

.logo-container {
  flex: 2;
}
.logo {
  font-weight: 300;
  margin: 5px;
}
nav {
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
  margin: -25px;
}
.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}
.contact {
  flex: 1;
  justify-content: flex-end;
  font-weight: 300;
}

.presentation {
  display: flex;
  height: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.intro-text {
  right: 25%;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 110%;
}

.cover {
  flex: 1;
}
