{% extends "layout.html" %}

    <style>
      body{
        background-image: url("{{url_for('static', filename='images/appiko_new-designV6.png')}}");
      }
      </style>

{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <h1></h1>
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Highlights</h3>
        <p class='text-muted'>Here, you will find the most recent information regarding the company.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Projects</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Upcoming Events</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>


{% endblock content %}