{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="content">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12" style="padding-bottom: 1%;">
                    <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                        <div class="content" style="padding-left: 2%;">
                            <h5 class="card-title"><a href="#" style="text-decoration: none;">appiko. Web</a></h5>
                            <h6 class="card-subtitle text-muted"><span class="badge badge-pill badge-info">Service</span> <span class="badge badge-pill badge-success">Free</span></h6>
                        </div>
                        <hr>
                        <div class="card-body">
                            <!-- <p class="card-text">N/A</p> -->
                            <h5>Host your site (restrictions apply).</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 3%;">
                    <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                        <div class="content" style="padding-left: 2%;">
                            <h5 class="card-title"><a href="#" style="text-decoration: none;">appiko. Ads</a></h5>
                            <h6 class="card-subtitle text-muted"><span class="badge badge-pill badge-info">Service</span> <span class="badge badge-pill badge-success">Free</span></h6>
                        </div>
                        <hr>
                        <div class="card-body">
                            <!-- <p class="card-text">N/A</p> -->
                            <h5>Display advertisements across our site (resctrictions apply).</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}