{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="content">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4" style="padding-bottom: 3%;">
                    <div class="card bg-light mb-3" style="padding-left: 2%; padding-top: 1%; padding-bottom: 25%;">
                        <h5 class="card-title">appiko. Servers</h5>
                        <h6 class="card-subtitle mb-2 text-muted">universal servers</h6>
                        <hr>
                        <div class="card-body">
                            <!-- <p class="card-text">N/A</p> -->
                            <a href="#" class="card-link">N/A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-bottom: 3%;">
                    <div class="card bg-light mb-3" style="padding-left: 2%; padding-top: 1%; padding-bottom: 25%;">
                        <h5 class="card-title">appiko. Tasky</h5>
                        <h6 class="card-subtitle mb-2 text-muted">task manager</h6>
                        <hr>
                        <div class="card-body">
                            <!-- <p class="card-text">N/A</p> -->
                            <a href="#" class="card-link">N/A</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-bottom: 3%;">
                    <div class="card bg-light mb-3" style="padding-left: 2%; padding-top: 1%; padding-bottom: 25%;">
                        <h5 class="card-title">appiko. Web</h5>
                        <h6 class="card-subtitle mb-2 text-muted">web hosting</h6>
                        <hr>
                        <div class="card-body">
                            <!-- <p class="card-text">N/A</p> -->
                            <a href="#" class="card-link">N/A</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}