{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
                <h2>Welcome, <a href="{{ url_for('public', account_id=current_user.id) }}">{{current_user.username}}</a>
                </h2>
                <h6>{{ current_user.email }}</h6>
                <hr>
                <div class="col-md-6" style="padding-left: 0;">
                    <h4>Account Value</h4>
                    <p><a href="#">History</a>, <a href="#">Information</a></p>
                    <h4>${{ current_user.account_value}}</h4>
                </div>
            </div>
            <hr>
            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
                <h4>Account Analytics</h4>
                <h6>profile visits: <strong>{{ current_user.profile_visits }}</strong></h6>
            </div>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
                <h2>Recent Events</h2>
                <hr>
                {% for event in events %}
                <p><a href="#" style="text-decoration: none;">{{event.date.strftime('%Y-%m-%d')}}</a> {{ event.event}}
                </p>
                {% endfor %}
            </div>
            <hr>
            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
                <form method="POST" , action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group" style="font-size: 20px; padding-top: 2%;">
                            Change {{ form.username.label(class="form-control-label") }}

                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-md") }}
                            {% endif%}

                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<!-- <div class="container"
    style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2; border-style: solid;">
    <div class="row">
        <div class="col-md-6" style="padding-top: 1%;">
            <h3>Welcome, {{ current_user.username }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-bottom: 1%;">
            <h6>{{ current_user.email }}</h6>
        </div>
    </div>
</div> -->

{% endblock content %}