{% extends "layout.html" %}

{% block content %}

<div class="container"
    style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2; border-style: solid;">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the only page dedicated to you lol.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 10%;">
            <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                <div class="content" style="padding-left: 2%;">
                    <h5 class="card-title">Active subscriptions</h5>
                </div>
                <hr>
                <div class="card-body">
                    <!-- <p class="card-text">N/A</p> -->
                    <h5>Nothing to display here.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 10%;">
            <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                <div class="content" style="padding-left: 2%;">
                    <h5 class="card-title">Badges</h5>
                </div>
                <hr>
                <div class="card-body">
                    <!-- <p class="card-text">N/A</p> -->
                    <h5>Nothing to display here.</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}