{% extends "layout.html" %}

<style>
  body {
    background-image: url("{{url_for('static', filename='images/appiko_new-designV6.png')}}");
  }
</style>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="container"
        style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1px;">
        <h2>Welcome to appiko.</h2>
        <p>appiko is a cloud computing startup based in Massachusetts</p>
        <hr>
        <h4>Your data is protected</h4>
        <p>Hackers can intercept data. Thats why we take advantage of SSL(Secure Sockets Layer) to insure all data
          passed through our site will be at no risk of interception. Your data is safe here.</p>
        <hr>
        <h4>Your privacy is respected</h4>
        <p>Not even us at appiko know your passwords(no duh). We only store your passwords hash using the <a
            href="https://en.wikipedia.org/wiki/Bcrypt">bcrpyt</a> hashing function. We then later use the passwords
          hash to authenticate when needed.
        </p>
      </div>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="container"
        style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
        <h3>Application data</h3>
        <hr>
        <h5>Comprehensive value</h5>
        <h6>${{ applicationdata[0] }}</h6>
      </div>
      <hr>
    </div>
  </div>
</div>


{% endblock content %}