{% extends "layout.html" %}

<style>
  body {
    background-image: url("{{url_for('static', filename='images/appiko_new-designV6.png')}}");
  }
</style>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="container"
        style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1px;">
        <h2>Welcome to appiko.</h2>
        <p>appiko is a cloud computing startup based in Massachusetts</p>
        <hr>
        <h4>Your data is protected</h4>
        <p>Hackers can intercept data. Thats why we take advantage of SSL(Secure Sockets Layer) to insure all data
          passed through our site will be at no risk of interception. Your data is safe here.</p>
        <hr>
        <h4>Your privacy is respected</h4>
        <p>Not even us at appiko know your passwords(no duh). We only store your passwords hash using the <a
            href="https://en.wikipedia.org/wiki/Bcrypt">bcrpyt</a> hashing function. We then later use the passwords
          hash to authenticate when needed.
        </p>
      </div>
      <hr>
      <div class="container"
        style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1px;">
        <h2>History of appiko.</h2>
        <ul style="padding-left: 5%;">
          <li>appiko was established July 30, 2020</li>
          <li>Domain was live November 19, 2020</li>
        </ul>
        <hr>
        <h4>Let our age be no fear</h4>
        <p>We work hard on getting our clients trust. It means a lot to us.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container"
        style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
        <h3>How we handle data</h3>
        <p>Data will be handled accordingly. For example, your data falls under the category of privacy data. Your data
          is not
          shared with 3rd parties, your data will remain in house for research.</p>
        <hr>
        <h3>General Q/A</h3>
        <ul style="padding-left: 10%;">
          <li><a href="#">Tell me more about the services</a></li>
          <li><a href="#">Are the services currently available?</a></li>
          <li><a href="#">Who is the current CEO of appiko?</a></li>
          <li><a href="#">Where can I find the contact email?</a></li>
          <li><a href="#">I would like to learn more about appiko.</a></li>
          <li><a href="#">What is the purpose for account value?</a></li>
          <li><a href="#">How do I get myself apart of appiko?</a></li>
          <li><a href="#">What technologies are currently in use?</a></li>
          <li><a href="#">Learn more about how we handle data</a></li>
          <li><a href="#">What are the requirments for an account?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}