{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="content">
        <div class="row"">
                <div class=" col-md-12" style="padding-bottom: 1%;">
            <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                <div class="content" style="padding-left: 2%;">
                    <h5 class="card-title"><a href="#" style="text-decoration: none;">Discord Bot</a></h5>
                    <h6 class="card-subtitle text-muted"><span class="badge badge-pill badge-success">Tutorial</span>
                        <span class="badge badge-pill badge-success">Easy</span> <span
                            class="badge badge-pill badge-primary">Python</span></h6>
                </div>
                <hr>
                <div class="card-body">
                    <h5>Follow our tutorial on how to create a Discord Bot.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-bottom: 1%;">
            <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                <div class="content" style="padding-left: 2%;">
                    <h5 class="card-title"><a href="#" style="text-decoration: none;">The Blockchain</a></h5>
                    <h6 class="card-subtitle text-muted"><span class="badge badge-pill badge-success">Tutorial</span>
                        <span class="badge badge-pill badge-danger">Hard</span> <span
                            class="badge badge-pill badge-primary">Python</span></h6>
                </div>
                <hr>
                <div class="card-body">
                    <h5>Learn about how you can implement Blockchain.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-bottom: 1%;">
            <div class="card border-secondary bg-light mb-3" style="padding-top: 1%; padding-bottom: 1%;">
                <div class="content" style="padding-left: 2%;">
                    <h5 class="card-title"><a href="#" style="text-decoration: none;">Flask Application</a></h5>
                    <h6 class="card-subtitle text-muted"><span class="badge badge-pill badge-success">Tutorial</span>
                        <span class="badge badge-pill badge-warning">Medium</span> <span
                            class="badge badge-pill badge-primary">Python</span></h6>
                </div>
                <hr>
                <div class="card-body">
                    <h5>Follow our guide on creating a Flask Application.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}