{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%;">
                <h2><a href="#">{{ account.username }}</a> <strong> #{{account.id}}</strong></h2>
            </div>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="container"
                style="background-color: #fff; border: rgb(218 218 218); border-width: 1px; border-radius: 2px; border-style: solid; padding-top: 1%; padding-bottom: 1%; width: 320px; height: 100px;">

            </div>
        </div>
    </div>
</div>
{% endblock content %}